<div class="col-md-10 col-md-offset-1 idea-card">
  <!-- USER PICTURE -->
  <div class="col-md-2">
    <%= image_tag @idea.user.photo, class:"img-circle img-responsive pic-small" %>
  </div>
  <!-- Idea & USER INFO -->
  <div class="col-md-8">
    <h2><%= @idea.title.titleize %></h2>
    <p>by
      <%= link_to "#{@idea.user.username}", user_path(@idea.user) %></p>
      <p><%= @idea.content %></p>
  </div>

  <div class="col-md-2">
    <!-- EDIT Idea BUTTON -->
    <% if current_user == @idea.user %>
      <div class="row">
        <%= button_to edit_idea_path(@idea), class:"btn btn-danger btn-block" do %>
        <span class="glyphicon glyphicon-pencil"></span>Edit Idea
        <% end %>
      </div>
    <br>
    <!-- DELETE Idea BUTTON -->
    <div class="row">
        <%= button_to  idea_path(@idea), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger btn-block" do %>
          <span class="glyphicon glyphicon-trash"></span>Delete Idea
        <% end %>
    </div>
    <% end %>
  </div>
</div>
