<!-- EDIT IDEAS -->

<div class="container">
  <h2><%= @idea.title %></h2>
  <!-- <h4>By <%= link_to "#{@idea.user.user_name}", user_path(current_user) %></h4> -->


  <div class="row">

    <%= form_for @idea do |f| %>

      <div>
        <%= f.text_area :content, placeholder: "Content" %>
      </div>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>
