<!-- EDIT IDEAS -->
<div class="form-group col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2">
  <h2 class="subtitle">Edit Project Idea</h2>
    <%= form_for @idea do |f| %>
          <div>
            <%= f.label :title, class:"input_field_label" %>
            <%= f.text_field :title, placeholder: "Title" %>
          </div>
        <div>
          <%= f.label :description, class:"input_field_label" %>
          <%= f.text_field :content, placeholder: "Content"  %>
        </div>
        <div>
          <%= f.label :photo, class:"input_field_label" %>
          <%= f.file_field :photo %>
        </div>
      <%= f.submit "Submit", class:"btn btn-danger" %>
    <% end %>
  </div>
