<div class="container">
  <div class="col-md-1">

  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-1">
        <%= image_tag 'idea.png', class:"idea-pic" %>
      </div>
      <div class="col-md-11">
        <h1 class="subtitle">PROJECT IDEA</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= image_tag "placeholder.png", class:"img-circle img-responsive pic-small" %>
      </div>
      <div class="col-md-10">
        <h2><%= @idea.title.titleize %></h2>
        <p>by
            <%= link_to "#{@idea.user.username}", user_path(@idea.user) %></p>
        <p><%= @idea.content %></p>

        <% if current_user == @idea.user %>
        <p><%= button_to "edit ", edit_idea_path(@idea), class:"btn btn-danger" %>
           <%= button_to "delete", idea_path(@idea), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger btn-block" %></p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <h2 class="text-center">Attachments</h2>
      <div class="col-md-6">
        <%= image_tag "placeholder.png" %>
      </div>
      <div class="col-md-6">
        <%= image_tag "placeholder.png" %>
      </div>
    </div>
  </div>
  <div class="col-md-1">

  </div>
</div><!-- CONTAINER -->
