<div class="row">
  <div class="col-md-1">
    <%= image_tag 'idea.png', class:"idea-pic" %>
  </div>
  <div class="col-md-11">
    <h1 class="subtitle">PROJECT IDEA</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 idea-card">
    <div class="col-md-2">
      <%= image_tag @idea.user.photo, class:"img-circle img-responsive pic-small" %>
    </div>
    <div class="col-md-8">
      <h2><%= @idea.title.titleize %></h2>
      <p>by
      <%= link_to "#{@idea.user.username}", user_path(@idea.user) %></p>
      <p><%= @idea.content %></p>
    </div>
    <div class="col-md-2">
      <% if current_user == @idea.user %>
      <div class="row">
        <%= button_to edit_idea_path(@idea), class:"btn btn-danger btn-block" do %>
        <span class="glyphicon glyphicon-pencil"></span>Edit Idea
        <% end %>
      <% end %>
      </div>
      <br>
      <div class="row">
        <%= button_to  idea_path(@idea), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger btn-block" do %>
          <span class="glyphicon glyphicon-trash"></span>Delete Idea
        <% end %>
      </div>
    </div> <!-- .col md 2 -->
  </div> <!-- .idea-card -->
</div> <!-- .row -->

<div class="row">
  <h2 class="text-center">Attachments</h2>
  <div class="col-md-12 col-md-push-2">
    <%= image_tag @idea.photo %>
  </div>
</div>
