<!-- SIGNUP FORM PAGE -->
  <div class="row">
    <div class="form-group col-md-8 col-xs-8　col-md-offset-2 col-xs-offset-2">
      <h2 class="subtitle">SIGN UP</h2>
      <%= form_for @user do |f| %>
        <div class="row">
          <div class="col-md-6">
            <%= f.label :first_name, class:"login_label" %>:
            <%= f.text_field :first_name, placeholder: "First Name", required: true %>
          </div>
          <div class="col-md-6">
            <%= f.label :last_name, class:"login_label" %>:
            <%= f.text_field :last_name, placeholder: "Last Name", required: true %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.label :username, class:"login_label" %>:
            <%= f.text_field :username, placeholder: "Username", required: true %>
          </div>
          <div class="col-md-6">
            <%= f.label :email, class:"login_label" %>:
            <%= f.email_field :email, placeholder: "Email", required: true %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.label :social_url, class:"login_label" %>:
            <%= f.text_field :social_url, placeholder: "Social" %>
          </div>
          <div class="col-md-6">
            <%= f.label :course, class:"login_label" %>:
            <%= f.text_field :course, placeholder: "Course", required: true %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.label :password, class:"login_label" %>:
            <%= f.password_field :password, placeholder: "Password", required: true %>
          </div>
          <div class="col-md-6">
            <%= f.label :password_confirmation, class:"login_label" %>:
            <%= f.password_field :password_confirmation, placeholder: "Confirm Password", required: true %>
          </div>
        </div>
        <div class="col-md-6">
          <%= f.label :photo %>
          <%= f.file_field :photo %>
        </div>
        <%= f.submit "Sign Up", class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
