<h4>Welcome, <%= @user.first_name %> <%= @user.last_name %>!</h4>
<h4><%= @user.username %>!</h4>
<h4><%= @user.email %>!</h4>
<h4><%= @user.social_url %>!</h4>
<h4><%= @user.course %>!</h4>

<% if current_user == @user %>
  <%= button_to "edit", edit_user_path(@user), :method => :get %>
<% end %>
