<!-- SHOW ONE EVENT -->

<div class="container">

  <h2><%= @event.event_name %></h2>

  <%= button_to "Add Idea", new_idea_path(@event), method: "get" %>

  <h2>SUPER COOL IDEAS!</h2>
  <hr>

  <% @event.ideas.order(:cached_weighted_average => :desc).reverse.each do |idea| %>
      <h4><%= link_to idea.title, idea %><br>
        Submitted <%= time_ago_in_words(idea.created_at) %> ago
        by <%= idea.user.username  %>
      </h4>
      <%= link_to like_idea_path(idea), method: :put do %>
        Upvote
        <%= idea.get_upvotes.size %>
      <% end %>
      <hr>
  <% end %>
</div>
