<div class="row">
  <div class="col-md-8">
    <%= image_tag "aboutbackground.jpg", class: 'hackathon-img2'%>
  </div>
  <div class="col-md-4">
    <div class='wwd'>
      <div class="top-wwd">
        <h2 class="subtitle about-title">About GA Hackathon</h2>
        <p>It can be daunting to go to a meetup or a Hackathon with people who have
          been in the industry for years when you are just starting out. Here at General
          Assembly we have seen this be an issue. We aim to provide a space area where
          we all can test our skills and push each other to grow and learn as much as
          possible! In doing so, we have created General Assembly specific Hackathons!
          These hackathons are geared towards individuals who are still learning or alumni
          who would like to help others learn.</p>
      </div>
        <div class="bottom-wwd">
          <h3 class="subtitle about-title">Educating Individuals</h3>
          <p>The function of educating is to teach one to think intensively and to
            think critically. Intelligence plus character- that is the goal of true
            education. Not only is our goal to build character, our aim to built vital
            skills to a professional level. We want to provide an area where individuals
            can practice their skills without the feeling of being left behind or not
            being able to contribute anything. In doing so, you will be
            about to challenge yourself as well as boosting your portfolio!</p>
        </div>
    </div>
  </div>
</div>
<hr>
<br>
  <div class='row'>
    <h2 class="subtitle about-title">Who We Are</h2>
          <div class="card-cool col-md-6">
            <aside class="profile-card">
            <header>
              <!-- here’s the avatar -->
                <%= image_tag "alex.jpg", class: 'about-user-image'%>
              </a>
              <!-- the username -->
              <h1>Alessandro Pianetta</h1>
              <!-- and role or location -->
              <h2>- Full Stack Web Developer -</h2>
            </header>
            <!-- bit of a bio -->
            <div class="profile-bio">
              <p>A former English teacher in Japan for two years right out of college he
              decided he wanted to challenge himself. He was exposed to web development through
              a friend and made the decision that this is the path he would love to take and
              make this a career. He has taken a liking to the frontend and has created many
              amazing projects with his talent and eye for good design. He has a passion for
              traveling and would love to work around the world for his new passion.</p>
            </div>
            <!-- some social links to show off -->
            <ul class="profile-social-links">
              <!-- LINKEDIN - el clásico  -->
              <li>
                <a href="https://www.linkedin.com/in/apianetta">
                  <img src="http://cdn.onlinewebfonts.com/svg/img_80278.svg">
                </a>
              </li>
              <!-- GITHUB  -->
              <li>
                <a href="https://github.com/aapiane09">
                  <img src="https://image.flaticon.com/icons/svg/25/25231.svg">
                </a>
              </li>
            </ul>
          </aside>
          </div>
          <div class="card-cool col-md-6">
            <aside class="profile-card">
            <header>
              <!-- here’s the avatar -->
              <%= image_tag "greice.jpg", class: 'about-user-image'%>
              </a>
              <!-- the username -->
              <h1>Greice Silva</h1>
              <!-- and role or location -->
              <h2>- Full Stack Web Developer -</h2>
            </header>
            <!-- bit of a bio -->
            <div class="profile-bio">
              <p>A soft spoken individual with a vast knowledge with many different languages.
              A former manager of her family business decided she wanted to change careers
              and challenge herself. To challenge herself, she has truly taken control of
              learning how the backend works. In turn, she has become a guru with the backend
              and amazing at debugging the most complicated problems. She would love to work
              with the backend and continue to grow her skill set.</p>
            </div>
            <!-- some social links to show off -->
            <ul class="profile-social-links">
              <!-- LINKEDIN - el clásico  -->
              <li>
                <a href="https://www.linkedin.com/in/greicesilva">
                  <img src="http://cdn.onlinewebfonts.com/svg/img_80278.svg">
                </a>
              </li>
              <!-- GITHUB  -->
              <li>
                <a href="https://github.com/greicens">
                  <img src="https://image.flaticon.com/icons/svg/25/25231.svg">
                </a>
              </li>
            </ul>
          </aside>
          </div>
        </div>
        <div class='row'>
          <div class="card-cool col-md-6">
            <aside class="profile-card">
            <header>
              <!-- here’s the avatar -->
              <%= image_tag "shiv.jpg", class: 'about-user-image'%>
              </a>
              <!-- the username -->
              <h1>Shivinder Gogna</h1>
              <!-- and role or location -->
              <h2>- Full Stack Web Developer -</h2>
            </header>
            <!-- bit of a bio -->
            <div class="profile-bio">
              <p>A former Marine and passion for building he was looking for a new challenge
              in life. His direction went towards web development when he discovered the difficulties
              involved and the ability to build virtually anything based on ones own knowledge.
              Working with teams is something he loves to do and has taken a liking to the backend
              of web development.</p>
            </div>
            <!-- some social links to show off -->
            <ul class="profile-social-links">
              <!-- LINKEDIN - el clásico  -->
              <li>
                <a href="https://www.linkedin.com/in/shivindergogna">
                  <img src="http://cdn.onlinewebfonts.com/svg/img_80278.svg">
                </a>
              </li>
              <!-- GITHUB  -->
              <li>
                <a href="https://github.com/shivngiggles">
                  <img src="https://image.flaticon.com/icons/svg/25/25231.svg">
                </a>
              </li>
            </ul>
          </aside>
          </div>
          <div class="card-cool col-md-6">
            <aside class="profile-card">
            <header>
              <!-- here’s the avatar -->
              <%= image_tag "zach.jpg", class: 'about-user-image'%>
              </a>
              <!-- the username -->
              <h1>Zach Cusimano</h1>
              <!-- and role or location -->
              <h2>- Full Stack Web Developer -</h2>
            </header>
            <!-- bit of a bio -->
            <div class="profile-bio">
              <p>A passionate team leader who cofounded a software company and had the role
              of overseeing and managing a scrappy team. He left to learn a new skillset and
              eventually end up back in marketing. His goals are to bridge the gap between
              the marketing team and the web development teams to make operations more fluid.
              Having a great eye for design he has become a vital role in the teams he's belonged
              to for that area.</p>
            </div>
            <!-- some social links to show off -->
            <ul class="profile-social-links">
              <!-- LINKEDIN - el clásico  -->
              <li>
                <a href="https://www.linkedin.com/in/zachcusimano">
                  <img src="http://cdn.onlinewebfonts.com/svg/img_80278.svg">
                </a>
              </li>
              <!-- GITHUB  -->
              <li>
                <a href="https://github.com/c00z">
                  <img src="https://image.flaticon.com/icons/svg/25/25231.svg">
                </a>
              </li>
            </ul>
          </aside>
          </div>
  </div>
